@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "UserProfile";
}

<h1>User Profile Page</h1>
<form asp-controller="Home" asp-action="GetDetails" method="post">
    <table>
        <tr>
            <td>Name :</td>
            <td><input name="txtName" type="text" /></td>
        </tr>
        <tr>
            <td>mobileno :</td>
            <td><input name="txtAge" type="text" /></td>
        </tr>
        <tr>
            <td>City :</td>
            <td><input name="txtCity" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2"><input id="Submit1" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
<br /><br />

<h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>

